{% extends 'admin.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-lg-offset-1" >
    <h1>Actualite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ actualite.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if actualite.date %}{{ actualite.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('bundles/admin/Actualite/uploads/')~actualite.photo }}" width="50" height="50"/></td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('actualite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actualite_edit', { 'id': actualite.idactualite }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-md btn-danger" style="float: right;">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
