{% extends 'admin.html.twig' %}

{% block body %}
    <div class="col-lg-5 col-lg-offset-1" style="overflow-x: auto;">
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ formateur.cin }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ formateur.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ formateur.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('formateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('formateur_edit', { 'id': formateur.idformateur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-md btn-danger" style="float: right;">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
