{% extends 'admin.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-xs-offset-1" style="overflow-x: auto;">
    <h1>Encadrant</h1>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ encadrant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ encadrant.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ encadrant.cin }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ encadrant.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ encadrant.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('encadrant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('encadrant_edit', { 'id': encadrant.idencadrant }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-md btn-danger" style="float: right;">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
