{% extends 'admin.html.twig' %}

{% block body %}
    <div class="col-lg-5 col-lg-offset-1">
        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <h1>VerifInscri edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-md btn-primary" style="float: right; margin-left: 10px;" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-md btn-danger" style="float: right;">
    {{ form_end(delete_form) }}

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('verifinscri_index') }}">Back to the list</a>
        </li>
        <li>

        </li>
    </ul>
    </div>
{% endblock %}
